1: Verify EU in AD / Verify phone in emdm

2: Phone is lost | Phone is broken and won't turn back on (how is it damaged) | 

3: Opened an ONYX Replacement ticket https://dwp.prod.global.gc.ca/dwp/app/#/catalog

4:  Mobile Devices -> Request -> Replace a device -> Same type

EU Shipping Address:
Requested Device Category: Mobile
Requested Device Type:
Requested Device Model:
Replacement SIM card:
Phone number of the Device:
Current Device Category:
Current Device Type:
Current Device model:
Current Service Provider:
Current IMEI Number:
Current SIM Card Number:
Has the device been lost or stolen?:
Has the service been suspended?:

5: Attached Onyx ticket to IM - Informed EU

{# -Created Onyx Ticket for phone replacement #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=246712292 #} 