-Vérifier l’UE dans AD

-Vérifié que l’UE est connectée à MyKey / déconnectée puis reconnectée

-MyKey perdu ? sur ORCA : https://eajl-orca.securise-secure.gc.ca/O/vw/bienvenue-welcome-eng.pub

-Récupération via Entrust → nouveau fichier MyKey → connexion à Entrust

{# --Test d’un courriel chiffré → l’UE peut chiffrer et déchiffrer les courriels dans Outlook #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=251234462 #} 