-Vérifier l’UE dans AD

-Connexion à distance effectuée - recherche du portail d’entreprise - Centre logiciel présent

-Ouverture de MDM - appareil non conforme

-MDM → réparation MEMC

-MDM → réinscription à Intune

-Indiqué à l’UE que cela pourrait prendre 30 minutes et qu’un redémarrage de l’ordinateur sera demandé

-Le portail d’entreprise apparaîtra sur le bureau


{# - -réparation MEMC + réinscription à Intune - indiqué à l’UE de redémarrer - le portail d’entreprise sera présent #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=246715032 #} 