-Vérifier l’UE dans AD

-Vérifié le portail d’entreprise pour le logiciel → non présent

-Aller à : https://mati-myit.spac-pspc.gc.ca/

-Logiciel trouvé, commande FLX passée, informé l’UE concernant les demandes de logiciels qui ne figurent pas dans le catalogue

-Indiqué à l’UE d’attendre jusqu’à 24 heures pour que la demande apparaisse dans le portail d’entreprise

-gpupdate /force pour tenter le déploiement du logiciel


{#  -le logiciel est demandé #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=129633290 #} 