1) Vérifier l’uf dans AD

2) Certificat vérifié dans Entrust Certificate Explorer

3) Ajouté l’uf au VPN temporaire TSS pour pouvoir se connecter à distance, vérifié l’étiquette de l’actif et connecté à distance.

4) Navigué jusqu’au fichier .epf de MyKey et fait connecter l’utilisateur final.

5) MyKey est fonctionnel et l’uf peut retourner au VPN GCRSA


{# -MyKey est fonctionnel et l’uf peut retourner au VPN GCRSA #}

{# https://confluence.ssc-spc.gc.ca/display/SEWS/PSPC+-+Entrust #}
