1 : Vérifier l’ue dans AD / Vérifier l’actif de l’ue dans MDM

2 : Confirmer l’étiquette de l’actif et se connecter à distance au PC de l’ue

3 : Outlook ne fonctionne pas – tentative avec un nouveau profil : noms des boîtes génériques, brouillons, emplacements des fichiers PST sauvegardés – Outlook fermé

4 : Panneau de configuration → Courrier → Afficher les profils → créer un nouveau profil de messagerie et ouvrir Outlook avec ce profil

5 : Paramètres utilisateur réintégrés (boîtes génériques, fichiers PST, signatures à partir d’un ancien courriel)

6 : Les courriels se chargent et Outlook fonctionne maintenant

{# -Les courriels se chargent et Outlook fonctionne maintenant #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=251234530#}
