1) Vérifier l’ue dans AD

2) Vérifier les groupes AD pour **UR-TSS-Usr-VPN-Users**, ce VPN est valide pendant 30 jours.

3) Vérifier MDM, s’il y a des erreurs de domaine (l’appareil pourrait être désactivé)

4) Demander à l’ue de se connecter à **tss-usr.pwgsc.gc.ca**

5) Le nom d’utilisateur du compte est leur identifiant de connexion / Le mot de passe est celui de leur session Windows

{# -VPN connecté et l’ue peut accéder au réseau gouvernemental #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=126060670 #}
