1 : Vérifier l’ue dans AD

2 : Vérifier l’onglet Profil dans AD → chemin du dossier personnel (chemin du lecteur U)

3 : Connexion à distance à l’ordinateur de l’ue

4 : Explorateur → Ce PC → Connecter un lecteur réseau → Sélectionné U → chemin du dossier personnel

5 : Le lecteur U est présent et l’ue y a accès. Si le problème persiste, assigner à **NCLSNOS** pour les problèmes OES

{# -Le lecteur U est présent et l’ue y a accès. Si le problème persiste, assigner à NCLSNOS #}

{# https://confluence.ssc-spc.gc.ca/display/SEWS/PSPC+-+Shared+Drives #}
