1) Vérifier l’ue dans AD

2) Vérifié le nom de compte de l’ue dans AD

3) Ouvert SIGMA → PS1 → Utilisateurs

4) Utilisateur trouvé : déverrouillé et réinitialisé le mot de passe

5) L’ue peut se connecter à SIGMA et a été invité à changer son mot de passe

{# -L’ue peut se connecter à SIGMA et a été invité à changer son mot de passe #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=254805476 #}
