1) Vérifier l’ue dans AD

2) Vérifier l’appareil dans MDM

3) S’assurer que l’ue est connecté via Ethernet ou Wi-Fi ; réseau à domicile ou au bureau ; le réseau sans fil doit être visible depuis le portable

4) `ipconfig /all` – `ipconfig /release` – `ipconfig /renew` – `ipconfig /flushdns` – `netsh int ip reset` – Redémarrer

5) Vérifier que le portable possède un certificat d’appareil dans `certlm.msc`, le nom du certificat personnel doit correspondre à l’étiquette de l’actif

6) Problème de port LAN : Onyx | Autre → **T2TRIAGE** avec l’emplacement/étage/numéro de bureau, SSID Wi-Fi, adresse MAC de la carte Wi-Fi

{# -VPN connecté et l’ue peut accéder au réseau gouvernemental #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=249758250 #}
