1 : Vérifier l’ue dans AD / Vérifier l’actif de l’ue dans MDM

2 : Vérifier que l’ue a accès au réseau gouvernemental

3 : Se connecter à **iManager** avec les identifiants AD :  
   https://ut-ncr-v010/nps/servlet/portal (NCR)  
   Pour les autres serveurs, voir : https://confluence.ssc-spc.gc.ca/display/SEWS/iManager

4 : *Passwords* → *Set Universal Password* → rechercher l’utilisateur avec son identifiant de connexion

5 : Réinitialiser avec le **mot de passe du jour** et l’envoyer par **messagerie vocale** ou **courriel chiffré**

6 : Ce mot de passe affecte la connexion Windows, l’accès VPN TSS et se synchronise avec M365

7 : Demander à l’ue d’utiliser **Ctrl + Alt + Suppr** pour définir un nouveau mot de passe

{# -Le mot de passe a été réinitialisé et l’ue peut se connecter à l’appareil. #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=228723146 #}
