1) Vérifier l’ue dans AD

2) Vérifier l’appareil dans MDM

3) Déconnecté l’alimentation → Réinitialisation d’urgence → Bouton-poussoir 10 secondes → Reconnecté l’alimentation et redémarré

4) L’ordinateur est fonctionnel et l’ue peut se connecter

5) Si le problème matériel revient → Diriger vers l’équipe du centre de services la plus proche de l’ue pour un remplacement  
https://confluence.ssc-spc.gc.ca/display/SEWS/Points+of+Service

{# -L’ordinateur est fonctionnel et l’ue peut se connecter, l’ue a l’information du centre de services si le problème revient #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=254804269 #}
