1) Verify the eu in AD 

2)verify device in emdm

3)set activation password to pspc

4) user activated the device via the BlackBerry UEM Client. 
	(https://www.gcpedia.gc.ca/wiki/Mobile_Services_-_Activating_Your_Device)

5) Phone profile is now on emdm and eu can access phone.

{# -Phone profile is now on emdm and eu can access phone. #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=246711839 #} 