1) Vérifier l’ue dans AD

2) Vérifier l’appareil dans eMDM

3) Définir le mot de passe d’activation sur **pspc**

4) L’utilisateur a activé l’appareil via le client **BlackBerry UEM**  
   (https://www.gcpedia.gc.ca/wiki/Mobile_Services_-_Activating_Your_Device)

5) Le profil du téléphone est maintenant visible dans eMDM et l’ue peut accéder à l’appareil

{# -Le profil du téléphone est maintenant visible dans eMDM et l’ue peut accéder à l’appareil. #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=246711839 #}
