1 : Vérifier l’ue dans AD / Vérifier le téléphone dans eMDM

2 : Téléphone perdu | Téléphone brisé et ne s’allume plus (comment est-il endommagé) |

3 : Création d’un billet de remplacement ONYX  
https://dwp.prod.global.gc.ca/dwp/app/#/catalog

4 : *Mobile Devices* → *Request* → *Replace a device* → *Same type*

**Adresse d’expédition de l’ue :**  
**Catégorie d’appareil demandée :** Mobile  
**Type d’appareil demandé :**  
**Modèle d’appareil demandé :**  
**Carte SIM de remplacement :**  
**Numéro de téléphone de l’appareil :**  
**Catégorie d’appareil actuel :**  
**Type d’appareil actuel :**  
**Modèle d’appareil actuel :**  
**Fournisseur de services actuel :**  
**Numéro IMEI actuel :**  
**Numéro de carte SIM actuel :**  
**L’appareil a-t-il été perdu ou volé ? :**  
**Le service a-t-il été suspendu ? :**

5 : Billet ONYX joint à l’IM – L’ue a été informé

{# -Billet ONYX créé pour le remplacement du téléphone #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=246712292 #}
