1) Verify the eu in AD 

2) check device in mdm

3) Disconnected power -> Emergency reset -> Pinhole 10seconds -> Reconnected power and rebooted

4) Computer functional and eu can login. 

5) If hardware issue comes back -> Service centre team closest to eu for replacement
https://confluence.ssc-spc.gc.ca/display/SEWS/Points+of+Service

{# -Computer functional and eu can login, eu has SC information if issue comes back  #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=254804269 #} 