-------------------------------------------------
EU language : English[x]; French[]
IMEI : {{ asset_field }}
Callback number : {{ callback }}
Device Model:
Cellular OS Version:
-------------------------------------------------
IS THIS A NEW OR EXISTING ISSUE: NEW[{{ is_new }}] ; EXISTING[{{ is_existing }}]
Existing Ticket# : {{ existing_ticket }}
WHEN WAS THE ISSUE FIRST ENCOUNTERED : {{ when_field }}
NUMBER OF USERS AFFECTED : {{ users_field }}
-------------------------------------------------
EU description of problem :
{{ eu_desc }}

Error message/ code : na

Document steps taken to troubleshoot EUs issue :
{{ steps }}

What is the root cause found after troubleshooting : na

Resolution or next steps :
{{ resolution }}

Confluence Article used to support EU : 
{{ confluence_article }}

IP address (if network related) : na
Application login (if applicable) : na
End User's Mailing Address (If KB states required): na

-------------------------------------------------
English - Cellular EUSD template June 1st 2023