-------------------------------------------------
Langage Anglais[]; Francais[x]
IMEI : {{ asset_field }}
Modèle d’appareil Cellulaire:
Version OS Cellulaire:
Numéro de rappel : {{ callback }}
-------------------------------------------------
Problème nouveau ou existant : Nouveau [{{ is_new }}] ; Existant [{{ is_existing }}]
Numéro de référence : {{ existing_ticket }}
Quand le problème a-t-il commencé : {{ when_field }}
Nombre d’utilisateurs affecté : {{ users_field }}
-------------------------------------------------
L’UF description du problème :
{{ eu_desc }}

Message d’erreur / code : na

Documenter les étapes prises pour résoudre le problème de l'UF :
{{ steps }}

Quelle est la cause fondamentale trouvée après le dépannage : na

Résolution ou prochaines étapes :
{{ resolution }}

Article de Confluence : 
{{ confluence_article }}

Connexion à l’application (si applicable) : na
Adresse IP (si lié au réseau) : na
Adresse postale de l'utilisateur (Si la BC indique): na
-------------------------------------------------
French - Cellulaire EUSD template 1 Juin 2023