-Verify the eu in AD 

-verified eu is logged into mykey / logged out and logged back in

-lost mykey? on orca https://eajl-orca.securise-secure.gc.ca/O/vw/bienvenue-welcome-eng.pub

-entrust recovery -> new mykey file -> logged in to entrust

-Tested an encrypted email -> eu can decrypt and encrypt emails in outlook.

{# --Tested an encrypted email -> eu can decrypt and encrypt emails in outlook. #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=251234462 #} 