-Verify EU in AD 

-remoted in - searched for company portal - software center is there

-open mdm - device non compliant

-mdm -> memc repair

-mdm -> intune re-enrollment

-instruct eu it could take 30minutes and will prompt for a reboot of the computer

-company portal will appear on the desktop 


{# -memc repair + intune re-enrollment - instructed eu to restart - company portal will be there #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=246715032 #} 