-Verify EU in AD 

-checked company portal for the software -> not there

-go to https://mati-myit.spac-pspc.gc.ca/

-found software, placed FLX order, informed eu about software requests that are not in the catalog.

-instructed eu to wait up to 24hours for their request to appear in company portal

- gpupdate /force to attempt deployement of software.


{# -software is requested #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=129633290 #} 