1) Verify the eu in AD 

2) verified the certificate in entrust certificate explorer

3) added eu to the TSS temporary vpn to be able to remote in,  verified asset tag and remoted in.

4) Browsed for mykey .epf file and had the end user sign in.

5) Mykey is functional and eu can go back to gcrsa vpn


{# -Mykey is functional and eu can go back to gcrsa vpn #}

{# https://confluence.ssc-spc.gc.ca/display/SEWS/PSPC+-+Entrust #} 