1) Ensure the EU’s account is not disabled in Active Directory.

2) Confirm login format: Firstname.Lastname@tpsgc-pwgsc.gc.ca.

3) Have the EU sign in to office.com.

4) If login fails or Office apps don’t appear, escalate to TPSGC.dgdpioperationsgiti-ciobimitoperations.PWGSC@tpsgc-pwgsc.gc.ca with relevant details.

5) For mobile device issues, follow the same escalation process but include the IMEI number. Provide the PSPC reference number and resolve IM.

6) Reinstall the office 365 apps from company portal

7) If login fails due to default login, check if user is using firstname.lastname@ad.pwgsc.gc.ca instead of firstname.lastname@tpsgc-pwgsc.gc.ca. Correct in Active Directory Account tab.

8) If macros are restricted, Microsoft Trust Center is disabled by admin, allow macros from myITstore

{# -Eu can use M365 app. #}

{# https://confluence.ssc-spc.gc.ca/display/SEWS/PSPC+-+Microsoft+Office+365 #}