1: Verify EU in AD / Verify eu asset in mdm

2: confirm asset tag and remote in to eu pc

3: outlook broken - trying a new profile: saved the name generic mailboxes, drafts, pst file locations - closed outlook

4:  Control Panel → Mail → Show Profiles → create new mail profile and open outlook with the profile

5: Added back user settings (generic boxes, pst files, signatures from old email)

6: Emails are loading up and outlook is functioning now

{# -Emails are loading up and outlook is functioning now #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=251234530#} 