1) Verify the eu in AD 

2) Check AD groups for UR-TSS-Usr-VPN-Users, this vpn lasts 30 days.

3) Check mdm, if theres any domain errors (device could be disabled)

4) instruct the eu to connect to tss-usr.pwgsc.gc.ca

5) Account username is their logon account name/ Password is their windows login


{# -VPN connected and eu can access government network #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=126060670 #} 