1: Verify EU in AD 

2: Verify  AD profile tab -> Home folder path (u drive path)

3: Remoted in eu computer 

4: Explorer -> This pc -> Map Network Drive -> Selected U -> home path 

5: U drive is there and eu has access, if issue was persistant NCLSNOS for OES issues


{# -U drive is there and eu has access, if issue was persistant NCLSNOS #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=228723146 #} 