1) Verify the eu in AD 

2) verified eu account name in AD

3) opened SIGMA -> PS1 -> Users 

4) Found user: Unlocked and Reset password

5) Eu can sign in to sigma and was prompted to change password


{# -Eu can sign in to sigma and was prompted to change password#}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=254805476 #} 