1) Verify the eu in AD 

2) Check the device in mdm

3) Make sure the eu is connected via ethernet or wifi; Home or Office Network; wireless network is visible from the notebook 

4) ipconfig / all - ipconfig /release - ipconfig /renew - ipconfig /flushdns - netsh int ip reset - Reboot

5) verify that the notebook has a device certificate in certlm.msc,  personal certificate name should be the device asset tag

6) LAN port issue: Onyx | Other T2TRIAGE with Location/Floor/Office Number, WIFI SSID, Wi-Fi Card MAC.

{# -VPN connected and eu can access government network #}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=249758250 #} 