1: Verify EU in AD / Verify eu asset in mdm

2: Verify EU has access to government network

3: Log in to iManager with AD creds https://ut-ncr-v010/nps/servlet/portal (NCR) 
	For other servers see: https://confluence.ssc-spc.gc.ca/display/SEWS/iManager

4: Passwords → Set Universal Password → search end user with their logon account name

5: Reset to PW of the day and send it via voicemail or encrypted email.

6: This password affects their windows login - TSS vpn access - Syncs with M365.

7: Instructed eu: ctrl-alt-del to set new password

{# -Password was reset and eu can login to device.#}

{# https://confluence.ssc-spc.gc.ca/pages/viewpage.action?pageId=228723146 #} 